<div class="main-container">
	<div class="content-panel">
		<div class="head-container tl">
			<div class="text-primary text-heading-1">{{title | uppercase}}</div>
			<div class="text-base info">
				{{infoMessage}}
			</div>
		</div>
		<div class="category-container">
			<div class="category-card pointer bg-white"
				 *ngFor="let topic of topicsList"
				 (click)="redirectToTopic(topic)">
				<div class="d-flex">
					<div class="image">
						<img src="../../../assets/images/{{topic.title}}.svg"
							 alt="{{topic.title}}"
							 height="25px" />
					</div>
					<div class="title d-flex align-center text-base">
						{{topic?.title | uppercase}}
					</div>
				</div>
				<div class="action">
					<img src="../../../assets/images/Next.svg"
						 alt='Next' />
				</div>
			</div>
		</div>
	</div>
</div>
