<div class="bg-white head-container tc">
	<div class="wrapper">
		<div class="tab-head-content">
			<img src="../../../assets/images/Back.svg"
				 alt="Back"
				 class="nav-back"
				 (click)="redirectBack()" />
			<div class="text-primary text-heading-2">{{topic | titlecase}}</div>
		</div>

		<div class="input-group">
			<div class="input-field d-inline-flex align-center bg-secondary w-100"
				 [ngClass]="{'ng-dirty': searchText?.length}">
				<img src="../../../assets/images/Search.svg"
					 alt="search" />
				<input matInput
					   type="text"
					   placeholder="Search"
					   [(ngModel)]="searchText"
					   (keyup)="searchChange()"
					   class="bg-secondary w-100 text-base">
				<img *ngIf="searchText"
					 src="../../../assets/images/Cancel.svg"
					 alt="clear"
					 (click)="clearSearch()" />
			</div>
		</div>
	</div>
</div>
<div class="search-data-panel"
	 (scroll)="onScroll($event)">
	<div *ngIf="isLoading else listRef"
		 class="d-flex justify-center align-center w-100 spinner-panel">
		<div class="w-100">Loading...</div>
		<mat-spinner></mat-spinner>
	</div>
	<ng-template #listRef>
		<div class="list-card"
			 *ngIf="booksList.length else noDataRef">
			<div class="list-item book-card bg-white tl pointer"
				 *ngFor="let book of booksList"
				 (click)="onBookView(book)">
				<div class="image">
					<img src="{{book.image}}" />
				</div>
				<div class="title"
					 [title]="book?.title">
					{{book?.title | uppercase}}
				</div>
				<div class="author"
					 [title]="book?.author">
					{{book?.author}}
				</div>
			</div>
		</div>
		<div class="load-next-info w-50"
			 *ngIf="nextLoading">
			Loading Next...
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</div>
	</ng-template>

	<ng-template #noDataRef>
		<div class="no-data-banner w-100 d-flex justify-center align-center text-base">
			No Data Found. <br />
			Search Again with different input.
		</div>
	</ng-template>
</div>
