/* You can add global styles to this file, and also import other style files */

html, body {
	height: 100%;
	background-color: #F8F7FF;
	margin: 0;
	padding: 0;
}

@import url(assets/styles/util.scss);


  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url(assets/fonts/Montserrat-Regular.ttf) format('truetype');
  }

  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url(assets//fonts/Montserrat-SemiBold.ttf) format('truetype');
  }

  @font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url(assets/fonts/Montserrat-Bold.ttf) format('truetype');
  }

  * {
	font-family: 'Montserrat', 'arial';
	color: #333333;
  }

.mat-snack-bar-container {
	background-color: #F8F7FF;
	border: 1px solid #5E56E7;
}
